
*.xcuserstate

AAChartKit-Swift/.DS_Store

.DS_Store

AAChartKit-Swift/AAChartKit-Swift.xcodeproj/project.xcworkspace/xcuserdata/jinyindao.xcuserdatad/UserInterfaceState.xcuserstate

AAInfographicsDemo.xcodeproj/xcuserdata/jinyindao.xcuserdatad/xcschemes/xcschememanagement.plist

AAInfographicsDemo.xcodeproj/xcuserdata/jinyindao.xcuserdatad/xcschemes/AAInfographicsDemo.xcscheme

*.xcbkptlist
AAInfographicsDemo.xcodeproj/xcuserdata/tenmaker.xcuserdatad/xcschemes/xcschememanagement.plist
.idea/.name
.idea/AAInfographics.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
